.form-button {
    margin: 0;
    padding: 0;
    margin-top: -2px;
}
.input-without-borders{
    border: 0;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border-top: 1px solid #ddd;
    padding: 6px;
  }
  table th {
    border-right: 1px solid #ddd;
  }
  .note_table{
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #F2D7D5;}
  }
  table tr:hover {background-color: #fff;}
  table th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: #d1d1d1;
    color: white;
  }
  .search_input{
    min-width: 5em;
    width: 80%;
  }
  .edit_tag_in_task{
    width: 82%;
  }
  .edit_tag_in_note{
    width: 80%;
  }
  .show-button{
    margin: 15px 15px 20px 0px;
  }
.task_table, .note_table{
  width: 90%;
  margin: 0px auto;
  float: none;
}
.note_table{
  th {
    &:nth-child(1) {
      width: 55%;
    }
    &:nth-child(2){
      width: 10%;
    }
    &:nth-child(3){
      width: 20%;
    }
    &:nth-child(4){
      width: 10%;
    }
    &:nth-child(5){
      width: 5%;
    }
  }
}
.task_table{
  th {
    &:nth-child(1) {
      width: 42%;
    }
    &:nth-child(2){
      width: 10%;
    }
    &:nth-child(3){
      width: 10%;
    }
    &:nth-child(4){
      width: 25%;
    }
    &:nth-child(5){
      width: 5%;
    }
    &:nth-child(6){
      width: 8%;
    }
  }
}
.friends_task_table{
  th {
    &:nth-child(1) {
      width: 30%;
    }
    &:nth-child(1) {
      width: 30%;
    }
    &:nth-child(1) {
      width: 10%;
    }
    &:nth-child(1) {
      width: 30%;
    }
  }
}
.small-italic{
  font-size: 10px;
  font-style: italic;
}
.center{
  text-align: center;
}
.btn__pomodoro {
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 18px;
  display: inline-block;
  min-width: 250px;
  margin-bottom: 28px;
  outline: 0;
  border: 2px solid #F6F5F6;
  color: #741616;
  font-weight: 300;
  padding: 6px 8px;
  box-shadow: none;
  background: none;
  border-radius: 6px;
  transition: 0.2s all ease-in;
  &:hover {
    background-color: #F6F5F6;
    color: #F36055;
  }
}
.importance{
  &__1{
    background-color: #F5B7B1 ;
  }
  &__2{
    background-color: #F6DDCC;
  }
  &__3{
    background-color: #D5F5E3;
  }
  &__4{
    background-color: #D6EAF8;
  }
  &__5{
    background-color: #EBF5FB;
  }
}
.strikeout{
  text-decoration: line-through;
}
.pomodoro{
  text-align: center;
  input{
    width: 15%;
    text-align: center;
  }
}
.centered{
  margin:0 auto;
}
.timer__time{
  font-size: 42px;
}
.margin_top__100{
  margin-top: 100px;
}
.alert {
  width: 100%;
  font-size: 1rem;
  color: #fff;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  &--success {
      background-color: #28a745;
  }

  &--error {
      background-color: #dc3545;
  }
} 